body {
  background-color: #f5f5f5;
}

nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
  margin-top: 20px;
}

.tabs .tab a {
  color: #26a69a;
  font-size: 0.9rem; /* Smaller font for more tabs */
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: #e0f2f1;
  color: #00695c;
}

table th {
  cursor: pointer;
}

table th:hover {
  background-color: #e0f2f1;
}

input[type="text"] {
  margin-bottom: 20px;
  border-bottom: 1px solid #26a69a !important;
}

#lastUpdated {
  color: #757575;
  margin-top: 20px;
}
